<div class="container">
    <div class="row">
        <h2>Stairmaster</h2>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="login-box">
                <h4>Know your team name?</h4>
                <form ng-submit="goToTeam()">
                    <div class="form-group">
                        <label for="teamName">Enter Your Team Name: </label>
                        <input type="text" ng-model="teamName" class="form-control" id="teamName">
                        <span id="go-error"class="go-error error">{{ goToTeamError }}</span>
                    </div>
                    <div>
                        <button id="goToTeamButton" type="submit" class="btn btn-primary">Go</button>
                    </div>
                </form>
            </div>
            <div class="login-box">
                <h4>Don't have a team yet?</h4>
                <div class="team-rules">
                    <p>Follow these team rules:</p>
                    <ul class="team-rule=list">
                        <li class="team-rule">Team name must be at least 6 characters.</li>
                        <li class="team-rule">Team name cannot have white spaces or special characters</li>
                    </ul>
                </div>
                <form ng-submit="addTeam()">
                    <div class="form-group">
                        <label for="newTeamName">Choose a Unique Team Name: </label>
                        <input type="text" ng-model="newTeamName" class="form-control" id="newTeamName">
                        <span id="add-error" class="add-error error">{{ addTeamError }}</span>
                    </div>
                    <div>
                        <button id="createTeamButton" type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
