<h3>Add a Person</h3>
<div class="well">
    <form ng-submit="addPerson()">
        <div class="form-group">
            <label for="personFirst">First Name</label>
            <input type="text" ng-model="person.first" class="form-control" id="personFirst" />
        </div>
        <div class="form-group">
            <label for="personLast">Last Name</label>
            <input type="text" ng-model="person.last" class="form-control" id="personLast" />
        </div>
        <div>
            <a id="cancelAddPerson" ui-sref="team">Cancel</a>
            <button id="addPersonButton" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>
