<div class="col-md-7">
    <h3 id="team-settings-header">Team Dashboard for {{ teamId }}</h3>
    <h4>People</h4>
    <div class="well">
        <ul class="person-list active">
            <li ng-repeat="person in persons | filter: { active: true }" class="person">
                <span class="person-link" ui-sref="team.info" ng-click="viewPerson(person.$id)">{{ person.first }} {{ person.last }}</span>
            </li>
        </ul>
        <ul class="person-list inactive">
            <li ng-repeat="person in persons | filter: { active: false }" class="person">
                <span class="person-link" ui-sref="team.info" ng-click="viewPerson(person.$id)">{{ person.first }} {{ person.last }}</span>
            </li>
        </ul>
        <button ui-sref="team.addPerson" class="btn btn-primary" id="addPersonForm">Add Person</button>
    </div>
    <h4>Pairs</h4>
    <div class="well">
        <ul class="pairs-list active">
            <li ng-repeat="pair in pairs | orderBy: '-person1.id': true | filter: { active: true }" class="pair">
                {{ pair.person1.person.first }} + {{ pair.person2.person.first }}
            </li>
        </ul>
        <ul class="pairs-list inactive">
            <li ng-repeat="pair in pairs | orderBy: '-person1.id': true | filter: { active: false }" class="pair">
                {{ pair.person1.person.first }} + {{ pair.person2.person.first }}
            </li>
        </ul>
    </div>
</div>
<div class="col-md-5">
    <div ui-view></div>
</div>
