table {
    border-collapse: collapse;
    width: 100%;
}

td {
    padding: 10px;
}

.person-list .person:hover .editPersonButton {
    visibility: visible;
}

.person-list .editPersonButton {
    visibility: hidden;
}

.deleteButtonPanel {
    text-align: right;
    margin-top: 20px;
}

.stair-row .stair-name {
    font-weight: 600;
}

.stair-row .stair-pair {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.increment-days {
    visibility: hidden;
    float: right;
    cursor: pointer;
}

.decrement-days {
    visibility: hidden;
    float: left;
    cursor: pointer;
}

.stair-pair:hover .change-days-icon {
    visibility: visible;
}
