/************************************************
Login View
*************************************************/

.login-box {
    margin-bottom: 80px;
}

.error {
    color: red;
}


/************************************************
Stairs View
*************************************************/

.stair-table {
    border-collapse: collapse;
    width: 100%;
}

.stair-table td {
    padding: 10px;
}

.stair-row .stair-name {
    font-weight: 600;
}

.stair-row .stair-pair {
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
}

.stair-pair:hover .change-days-icon {
    visibility: visible;
}

.increment-days {
    visibility: hidden;
    float: right;
    cursor: pointer;
}

.decrement-days {
    visibility: hidden;
    float: left;
    cursor: pointer;
}


/************************************************
 Settings View
*************************************************/

.inactive .person-link {
    color: #A9A9A9;
    font-style: italic;
}

.inactive li {
    color: #A9A9A9;
    font-style: italic;
}

.person-list .person:hover {
    cursor: pointer;
    text-decoration: underline;
}

.editPersonButton {
    float: right;
}

.deactivate-button {
    cursor: pointer;
}

.person-options {
    margin: 10px 0;
}

.person-options a {
    cursor: pointer;
}

.confirm-delete .modal-content {
    padding: 50px;
}

.confirm-delete .confirm-delete-buttons {
    margin-top: 20px;
}
