<table class="table">
    <thead>
        <th>Date</th>
        <th>Note</th>
        <th></th>
    </thead>
    <tr ng-repeat="(daykey, day) in pairingDays">
        <td>
            <input id="day{{daykey}}-date" type="text" ng-model="day.date" datetimepicker useCurrent="false" />
        </td>
        <td>
            <input id="day{{daykey}}-note" type="text" ng-model="day.note" value="{{ day.note }}" placeholder="Add a note"/>
        </td>
        <td>
            <span id="day{{daykey}}-delete" class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteDay(pairHistory.$id, day.$id)"></span>
        </td>
    </tr>
    <tr>
        <td><span id="addDayButton" class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="incrementDays(pairHistory.$id)"></span></td>
    </tr>
</table>
