<table class="table">
    <thead>
        <th>Date</th>
        <th>Note</th>
        <th></th>
    </thead>
    <tr ng-repeat="(daykey, day) in pairingDays">
        <td>
            <input type="text" ng-model="day.date" datetimepicker useCurrent="false" />
        </td>
        <td>
            <input type="text" ng-model="day.note" value="{{ day.note }}" placeholder="Add a note"/>
        </td>
        <td>
            <span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="deleteDay(pairHistory.$id, day.$id)"></span>
        </td>
    </tr>
</table>
